@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,100;1,200;1,700&display=swap" rel="stylesheet');
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #ffffff;
    --main-color: linear-gradient(270deg, #ef1919 50%, #ffff 50% );
  }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
  }
  .footer-title p {
    font-size: 1.5rem;
  }
  .footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 1.3rem;
  }
  .footer-icon a i {
    font-size: 3rem;
    color: var(--second-bg-color);
  }
  .footer-icon a:hover {
    box-shadow: 0 0 2rem var(--main-color);
  }